---
import "../../global.css"
import { FaLongArrowAltRight } from "react-icons/fa";
const quotes = ["When having fun is the goal, there's room for everyone to succeed.",
                "Being you is the best avatar you could have.",
                "Filters help us take the mask off and show our true self."]
const randomQuote = quotes[Math.floor(Math.random() * quotes.length)];
---

<script>
import { apricot, geega, hajime, haruka, henya, ironmouse, kson, kuro, matara, melody, mochi, zentreya } from "../../assets/img/Hero/index"

const vtubers = [apricot, geega, hajime, haruka, henya, ironmouse, kson, kuro, matara, melody, mochi, zentreya];

const vtuberColors = {
    [apricot]: '#C4ECAE',
    [geega]: '#EEE3D1',
    [hajime]: '#FDDABE',
    [haruka]: '#E1F4E3',
    [henya]: '#DACEEF',
    [ironmouse]: '#F7A4BF',
    [kson]: '#F2C4DC',
    [kuro]: '#FF757E',
    [matara]: '#fae9f1',
    [melody]: '#B1E0E9',
    [mochi]: '#D8A1EB',
    [zentreya]: '#F3B9B7'
};

const randomImage = vtubers[Math.floor(Math.random() * vtubers.length)];

var root = document.querySelector(':root') as HTMLElement;

const heroColor = vtuberColors[randomImage] || '';

if (heroColor) {
    root.style.setProperty('--hero-color', heroColor);
}
root.style.setProperty('--hero-img', `url(${randomImage})`);

</script>
<section class="mt-[-11rem] pt-[6rem] h-[calc(40rem+440px)] overflow-hidden bg-custom grid lg:grid-rows-none grid-rows-custom-layout">
    <div class="lg:ml-[40%] lg:mr-[-30vw] bg-hero-image lg:bg-20-100 sm:bg-top bg-bottom"></div>
    <div class="grid-area-1 p-[10%] lg:pr-[50%] grid">
        <div class="self-end text-Vpink lg:min-w-[42rem] text-[4rem] font-bold tracking-[-.125rem] font-mont leading-[4rem] min-w-0">
            {randomQuote}
        </div>
        <div class="self-start text-Vpink lg:text-[1.5rem] text-[1rem] font-semibold">
            <a href="" class="inline-flex items-center">Discover more about the world of VTubing <FaLongArrowAltRight className="scale-x-[2] origin-left"/></a>
        </div>
    </div>
</section>