---
import styles from "../styles"
import '@fontsource-variable/montserrat';
import { Navbar, Hero, Meet, Sponsors,Footer } from "../components/index"
import  { vshojo } from "../assets/svg/index"
import { IoMdArrowDropdown } from "react-icons/io";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class={`relative flex flex-col font-mont pt-[2.5rem] min-h-[100vh] min-w-[20rem] ${styles.heroBg}`}>
			<Navbar/>
			<div class="w-full">
				<Hero/>
				<Meet/>
				<Sponsors/>
			</div>
			<Footer/>
		</div>
	</body>
</html>
