---
import styles from "../styles"
import '@fontsource-variable/montserrat';
import { Navbar, Footer } from "../components/Global/index"
import { Hero, Meet, Sponsors } from "../components/Main/index"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class={`${styles.wrapper} ${styles.heroBg} bg-[linear-gradient(var(--white)_var(--background-color)_100vh)]`}>
			<Navbar/>
			<div class="w-full">
				<Hero/>
				<Meet/>
				<Sponsors/>
			</div>
			<Footer/>
		</div>
	</body>
</html>
