:root {
    --white: #FFFFFF;
    --black: #000000;
    --live: #FF0000;
    --vshojo-pink: #F50F75;
    --vshojo-dark-gray: #2A2A2A;
    --vshojo-light-gray: #707070;
    --background-color: #FFD4FA;
    --hero-color: none;
    --wave-svg: url(assets/svg/wave.svg);
    --hero-img: none ;
    --gunrun: url(assets/img/About/gunrun.jpg) ;
    --mowtendoo: url(assets/img/About/mowtendoo.jpg);
    --apek: url(assets/img/About/apek.jpg);
    --drop-button-background: var(--button-color);
    --drop-button-padding: 0;
    --drop-button-stroke: 1px;
    --drop-button-radius: .25rem;
    --drop-button-depth-1: 1px;
    --drop-button-depth-3: 3px;
    --drop-button-depth-2: 4px;
    --drop-button-depth-4: 8px;
    --drop-button-click: calc(var(--drop-button-depth-4) * 2 / 3);
    --drop-button-animation: 2.666666667px;
    --background-color: #FFD4FA;
    --meet-btn-hover: calc(var(--drop-button-depth-4) * 1 / 3);
    --social-btn-hover: calc(var(--drop-button-depth-3) * 1 / 3);
    --bg-talents-image: none;
}

.bg-talents-image{
    display: grid;
    background-image: var(--bg-talents-image);
    aspect-ratio: 1 / 1;
    background-size: cover;
}

.background_color{
    background: linear-gradient(var(--white),var(--background-color) 100vh);
}
.flex-_{
    flex: 1 1 0;
}
.grid-rows-cols{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.staffbio{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr min-content;
    grid-template-areas:
        "pic pic"
        "name links";
    gap: 1rem;
    align-items: center;
    width: 100%;
    max-width: 22rem;
}
.grid-talents{
    grid-template-areas:
        "links pic"
        "dot name"
}
.grid-pic{
    grid-area: pic;
}
.grid-name{
    grid-area: name;
}
.grid-links{
    grid-area: links;
}
.grid-title{
    grid-area: title;
}
.grid-dot{
    grid-area: dot;
}
.gunrun{
    background-image: var(--gunrun);
    aspect-ratio: 4 / 3;
    background-position: center;
    background-size: cover;
}
.mowtendoo{
    background-image: var(--mowtendoo);
    aspect-ratio: 4 / 3;
    background-position: center;
    background-size: cover;
}
.apek{
    background-image: var(--apek);
    aspect-ratio: 4 / 3;
    background-position: center;
    background-size: cover;
}

.bg-custom {
    background: var(--wave-svg) center center, linear-gradient(white -20%, var(--hero-color) 100%);
    background-size: 3840px;
    background-blend-mode: soft-light,normal;
}
.transform-custom {
    transform: translate(-50%);
}

.grid-area-1{
    grid-area: 1 / -1
}

.grid-area-2{
    grid-area: 2 / -1
}

.bg-hero-image{
    background-image: var(--hero-img);
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: 1 / -1
}
.menu{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 2.5rem;
    z-index: 100;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    background: linear-gradient(var(--white), var(--background-color) 100vh);
}
.show{
    pointer-events: unset;
    opacity: 1;
}

.scroll-img{
    grid-area: 1 / 1;
    height: 135rem;
    --scroll: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-flow: column;
    transform: translateY(calc(-65rem* var(--scroll)));
    will-change: transform;
}
.img-faces{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
}
.scroll-div{
    position: relative; 
    overflow: hidden
}
.text{
    grid-area: 1 / 1;
    height: 67.5rem;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 24rem 1rem 1rem;
}
.meet {
    height: 67.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
}

.underline-sm:after{
    display: block;
    content: "\2014";
    line-height: .25rem;
}
.faq-content{
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content;
    grid-template-areas:
        "title icon"
        "slot slot";
    align-items: center;
    padding: .75rem 1.25rem;
    background-color: var(--vshojo-pink);
    transition: background-color .4s ease-in-out;
}
.grid-icon{
    grid-area: icon;
}
.grid-slot{
    grid-area: slot;
}
.expand-icon{
    opacity: 1;
}
.collapse-icon{
    opacity: 0;
}
.accordion.open .faq-content{
    background-color: var(--white);
}
.accordion.open .expand-icon{
    opacity: 0;
}
.accordion.open .collapse-icon{
    opacity: 1;
}
.accordion.open .slot{
    display: block;
    height: var(--slot-height);
}
.quote{
    grid-area: 1 / 1;
    background: #ffffffc0;
    padding: 1.2rem;
    border-radius: calc(2rem - 6px);
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    will-change: opacity;
}
/* .contact:hover {
    margin: var(--meet-btn-hover) calc(var(--drop-button-depth-4) - var(--meet-btn-hover)) calc(var(--drop-button-depth-4) - var(--meet-btn-hover)) var(--meet-btn-hover)
} */
@keyframes marquee {
    from {
        transform: translate(0)
    }

    to {
        transform: translate(-25%)
    }
}

@media (max-width: 750px) {
    html {
        font-size: 12px;
    }
}
@media (max-width: 1200px) {
    .bg-hero-image{
        grid-area: 2 / -1;
        background-size: cover
    }
}